-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: geofencing_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('1209e6762a31');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `entity_type` varchar(50) DEFAULT NULL,
  `entity_id` int DEFAULT NULL,
  `description` text,
  `created_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  KEY `ix_audit_logs_id` (`id`),
  KEY `ix_audit_logs_user_id` (`user_id`),
  CONSTRAINT `audit_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
INSERT INTO `audit_logs` VALUES (1,1,'CREATE_GEOFENCE','GEOFENCE',1,'Created geofence \'Test Circle Geofence\'','2026-10-01 19:37:04');
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devices`
--

DROP TABLE IF EXISTS `devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `devices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `device_name` varchar(100) NOT NULL,
  `device_identifier` varchar(255) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT (now()),
  `updated_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_devices_device_identifier` (`device_identifier`),
  KEY `ix_devices_id` (`id`),
  KEY `ix_devices_user_id` (`user_id`),
  CONSTRAINT `devices_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devices`
--

LOCK TABLES `devices` WRITE;
/*!40000 ALTER TABLE `devices` DISABLE KEYS */;
INSERT INTO `devices` VALUES (1,1,'Geofence Test Device','GEOFENCE-TEST-001',1,'2026-10-01 19:36:13','2026-10-01 19:36:13'),(2,2,'Samsung s26','device-001',1,'2026-10-01 20:26:05','2026-10-01 20:26:05');
/*!40000 ALTER TABLE `devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `geofence_events`
--

DROP TABLE IF EXISTS `geofence_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `geofence_events` (
  `id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `geofence_id` int NOT NULL,
  `location_event_id` int NOT NULL,
  `event_type` varchar(20) NOT NULL,
  `previous_state` varchar(20) NOT NULL,
  `current_state` varchar(20) NOT NULL,
  `latitude` float NOT NULL,
  `longitude` float NOT NULL,
  `event_timestamp` datetime NOT NULL,
  `created_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  KEY `ix_geofence_events_device_id` (`device_id`),
  KEY `ix_geofence_events_geofence_id` (`geofence_id`),
  KEY `ix_geofence_events_id` (`id`),
  KEY `ix_geofence_events_location_event_id` (`location_event_id`),
  CONSTRAINT `geofence_events_ibfk_1` FOREIGN KEY (`device_id`) REFERENCES `devices` (`id`) ON DELETE CASCADE,
  CONSTRAINT `geofence_events_ibfk_2` FOREIGN KEY (`geofence_id`) REFERENCES `geofences` (`id`) ON DELETE CASCADE,
  CONSTRAINT `geofence_events_ibfk_3` FOREIGN KEY (`location_event_id`) REFERENCES `location_events` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `geofence_events`
--

LOCK TABLES `geofence_events` WRITE;
/*!40000 ALTER TABLE `geofence_events` DISABLE KEYS */;
INSERT INTO `geofence_events` VALUES (1,1,1,1,'OUTSIDE','OUTSIDE','OUTSIDE',11.025,76.9558,'2026-10-02 10:00:00','2026-10-01 19:40:27'),(2,1,1,2,'ENTER','OUTSIDE','INSIDE',11.0168,76.9558,'2026-10-02 10:01:00','2026-10-01 19:41:53'),(3,1,1,3,'INSIDE','INSIDE','INSIDE',11.017,76.956,'2026-10-02 10:02:00','2026-10-01 19:42:49'),(4,1,1,4,'EXIT','INSIDE','OUTSIDE',11.025,76.9558,'2026-10-02 10:03:00','2026-10-01 19:43:01');
/*!40000 ALTER TABLE `geofence_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `geofence_points`
--

DROP TABLE IF EXISTS `geofence_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `geofence_points` (
  `id` int NOT NULL AUTO_INCREMENT,
  `geofence_id` int NOT NULL,
  `latitude` float NOT NULL,
  `longitude` float NOT NULL,
  `point_order` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_geofence_points_geofence_id` (`geofence_id`),
  KEY `ix_geofence_points_id` (`id`),
  CONSTRAINT `geofence_points_ibfk_1` FOREIGN KEY (`geofence_id`) REFERENCES `geofences` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `geofence_points`
--

LOCK TABLES `geofence_points` WRITE;
/*!40000 ALTER TABLE `geofence_points` DISABLE KEYS */;
/*!40000 ALTER TABLE `geofence_points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `geofence_rules`
--

DROP TABLE IF EXISTS `geofence_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `geofence_rules` (
  `id` int NOT NULL AUTO_INCREMENT,
  `geofence_id` int NOT NULL,
  `event_type` varchar(20) NOT NULL,
  `is_enabled` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT (now()),
  `updated_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  KEY `ix_geofence_rules_geofence_id` (`geofence_id`),
  KEY `ix_geofence_rules_id` (`id`),
  CONSTRAINT `geofence_rules_ibfk_1` FOREIGN KEY (`geofence_id`) REFERENCES `geofences` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `geofence_rules`
--

LOCK TABLES `geofence_rules` WRITE;
/*!40000 ALTER TABLE `geofence_rules` DISABLE KEYS */;
INSERT INTO `geofence_rules` VALUES (1,1,'ENTER',1,'2026-10-01 19:38:08','2026-10-01 19:38:08'),(2,1,'EXIT',1,'2026-10-01 19:38:46','2026-10-01 19:38:46'),(3,1,'INSIDE',1,'2026-10-01 19:39:22','2026-10-01 19:39:22'),(4,1,'OUTSIDE',1,'2026-10-01 19:39:31','2026-10-01 19:39:31');
/*!40000 ALTER TABLE `geofence_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `geofences`
--

DROP TABLE IF EXISTS `geofences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `geofences` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `geofence_type` varchar(20) NOT NULL,
  `center_latitude` float DEFAULT NULL,
  `center_longitude` float DEFAULT NULL,
  `radius` float DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT (now()),
  `updated_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  KEY `ix_geofences_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `geofences`
--

LOCK TABLES `geofences` WRITE;
/*!40000 ALTER TABLE `geofences` DISABLE KEYS */;
INSERT INTO `geofences` VALUES (1,'Test Circle Geofence','Geofence for ENTER EXIT INSIDE OUTSIDE testing','CIRCLE',11.0168,76.9558,500,1,'2026-10-01 19:37:04','2026-10-01 19:37:04');
/*!40000 ALTER TABLE `geofences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `location_events`
--

DROP TABLE IF EXISTS `location_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `location_events` (
  `id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `latitude` float NOT NULL,
  `longitude` float NOT NULL,
  `accuracy` float DEFAULT NULL,
  `recorded_at` datetime NOT NULL,
  `created_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  KEY `ix_location_events_device_id` (`device_id`),
  KEY `ix_location_events_id` (`id`),
  CONSTRAINT `location_events_ibfk_1` FOREIGN KEY (`device_id`) REFERENCES `devices` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `location_events`
--

LOCK TABLES `location_events` WRITE;
/*!40000 ALTER TABLE `location_events` DISABLE KEYS */;
INSERT INTO `location_events` VALUES (1,1,11.025,76.9558,5,'2026-10-02 10:00:00','2026-10-01 19:40:27'),(2,1,11.0168,76.9558,5,'2026-10-02 10:01:00','2026-10-01 19:41:53'),(3,1,11.017,76.956,5,'2026-10-02 10:02:00','2026-10-01 19:42:49'),(4,1,11.025,76.9558,5,'2026-10-02 10:03:00','2026-10-01 19:43:01'),(5,2,11.1068,76.9558,100,'2026-10-01 20:37:00','2026-10-01 20:37:39');
/*!40000 ALTER TABLE `location_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` varchar(20) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT (now()),
  `updated_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_users_email` (`email`),
  KEY `ix_users_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Admin','admin@example.com','$2b$12$aEdMNjBmeriZq5PgkD86eO6IfjStX9mqMqlKuKFHtezBaV.xTSTOi','ADMIN',1,'2026-10-01 19:31:10','2026-10-01 19:31:10'),(2,'testuser','testuser@example.com','$2b$12$PxcgPDG53bIgjrY6L6eqw.z6prTYb2AyFjMqAl6F3/qN4ZHxuHrWi','USER',1,'2026-10-01 20:05:45','2026-10-01 20:05:45');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'geofencing_db'
--

--
-- Dumping routines for database 'geofencing_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-01 20:54:42
